{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Payment{% endblock %}

{% block logged_in_content %}
    <div class="display-3 my-2">Payment</div>
    {% if paid %}
        Thank you for your payment.<br><br>
    {% elif shopping_cart_is_empty %}
        Your shopping cart is empty. There is nothing to pay for.<br><br>
    {% else %}
        <div class="container-fluid my-4">
            <form method="POST">
                {% csrf_token %}
                {% crispy payment_form %}
                <!--{{ payment_form.as_p }}

            <button class="border rounded btn-success px-3 py-2" type="submit" name="Pay">Pay</button>-->
                <input type="hidden" id="shopping_cart_id" name="shopping_cart_id" value="{{ shopping_cart.id }}">
                <a href="{% url 'shopping-cart-show' %}">
                    <span class="border rounded btn-outline-primary px-3 py-2">Back</span>
                </a>
                <br>
            </form>
        </div>
    {% endif %}
{% endblock %}
